<button (click)="navigate('Customers')">Customers</button>
<button (click)="navigate2('Invoices')">Invoices</button>
<button (click)="navigate3('Create')">Create</button>

<router-outlet></router-outlet>

<!-- <app-form> </app-form> -->













<!-- <form (onClick)="saveCustomer()"> -->
    <!-- <form style="text-align: center;">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" >
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" >
    </div>
    <button type="submit" (click)="saveCustomer()" >Save Customer</button>
  </form> -->

